#root {
  max-width: 1120px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.1em;
}

#inputWrap {
  padding: 10px;
  background-color: #2e2e2e;
  display: grid;
}

#inputWrap::after {
  content: attr(data-replicated-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

#inputWrap > textarea {
  resize: none;
  overflow: hidden;
  background-color: #2e2e2e;
  outline: none;
}

#inputWrap > textarea,
#inputWrap::after {
  /* Identical styling required!! */
  border: none;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

#suggestion {
  position: absolute;
  top: 0;
  color: #7d7d7d
}

.agentMsg {
  padding: 0 12px;
}

.userMsg {
  color: #d7d7d7;
  background-color: #2e2e2e;
  padding: 12px;
}

.userMsg:before {
  content: "> "
}

#greeting {
  padding: 10px;
}

#greeting p {
  margin: 0;
}

#ldsEllipsis {
  display: none;
}
