#root {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.1em;
}

#inputWrap {
  position: relative;
  padding: 10px;
  background-color: #2e2e2e;
}

#inputWrap input {
  border: none;
  background-color: #2e2e2e;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;
  font-size: 1.1rem;
  width: 100%;
  color: #d7d7d7;
  margin-left: -2px;
  margin-top: -1px;
}

#inputWrap input:focus {
  border-color: inherit;
  box-shadow: none;
  outline: none;
}

#inputWrap input.middle:focus {
  outline-width: 0;
}

#suggestion {
  position: absolute;
  top: 0;
  color: #7d7d7d
}

.msg {
  padding: 12px;
}

.userMsg {
  color: #d7d7d7;
  background-color: #2e2e2e;
}

.userMsg:before {
  content: "> "
}

#greeting {
  padding: 10px;
}

#greeting p {
  margin: 0;
}

.new-line {
  white-space: pre-line;
}

#ldsEllipsis {
  display: none;
}