#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;
}

#inputWrap input {
  border: none;
  background-color: #242424;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;
}

#inputWrap input:focus {
  outline-width: 0;
}

.msg {

}

.userMsg {
  color: #7d7d7d;
}

.msg p {
  margin: 0;
}

#greeting p {
  margin: 0;
}
